DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=localhost
DB_PORT=5432
DB_NAME=brickwest_brewmaster

JWT_SECRET=

PORT=3001
FRONTEND_URL=http://localhost:3000

# For production
NODE_ENV=development
